@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/AnyConv.com__Circle-Regular.woff") format("woff"), url("../fonts/AnyConv.com__Circle-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe-bold";
  font-display: swap;
  src: url("../fonts/CRC65.woff") format("woff"), url("../fonts/CRC65.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script R - H 2 Base";
  font-display: swap;
  src: url("../fonts/IntroScriptR-H2Base.woff") format("woff"), url("../fonts/IntroScriptR-H2Base.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  font-display: swap;
  src: url("../fonts/PlayfairDisplaySC-Bold.woff") format("woff"), url("../fonts/PlayfairDisplaySC-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display-italic";
  font-display: swap;
  src: url("../fonts/PlayfairDisplaySC-BoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplaySC-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.main__burger {
  display: none;
}

.lock {
  overflow: hidden;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

body {
  overflow: auto;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fbebea;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  color: #2e2829;
  font-family: "Playfair Display";
  font-size: 40px;
  letter-spacing: 0.44px;
}

.subtitle {
  color: #32313d;
  font-family: "Intro Script R - H 2 Base";
  font-size: 35px;
}

.btn a {
  display: inline-block;
  height: 51px;
  text-align: center;
  line-height: 51px;
  background-color: #f50049;
  border-radius: 26px;
  color: #ffffff;
  font-family: Circe;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.btn a:hover {
  -webkit-box-shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3);
          box-shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3);
}

.name {
  color: #2d2829;
  font-family: Circe;
  font-size: 24px;
}

.header {
  margin: 70px 0 0 0;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-body__logo {
  color: #2d2829;
  font-family: "Playfair Display";
  font-size: 23px;
  letter-spacing: 0.36px;
}

.header-body__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 0 47px;
  width: 100%;
}

.header-body__menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 750px;
}

.header-body__menu nav a {
  color: #2d2829;
  font-family: Circe;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header-body__menu nav a:hover {
  color: #f50049;
}

.header-body__menu-tel {
  position: absolute;
  right: 0;
}

.header-body__menu-tel a {
  color: #2d2829;
  font-family: "Circe-bold";
  font-size: 15px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header-body__menu-tel a:hover {
  text-decoration: underline;
}

.footer {
  height: 160px;
  background-color: #e8e8e8;
}

.footer-body {
  margin: 46px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-body__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72px;
}

.footer-bottom__line {
  width: 100%;
  height: 2px;
  background-color: #d1d1d1;
  margin: 34px 0 0 0;
}

.footer-bottom__date {
  margin: 16px 0 0 0;
  text-align: center;
  opacity: 0.5;
  color: #000000;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.footer .footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-body__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.footer .footer-body__menu nav {
  width: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-body__menu nav a {
  color: #2d2829;
  font-family: Circe;
  font-size: 16px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.footer .footer-body__menu nav a:hover {
  color: #f50049;
}

.main-body {
  margin: 70px 0 0 0;
  position: relative;
}

.main-body__title {
  font-size: 78px;
  max-width: 380px;
}

.main-body__subtitle {
  font-size: 41px;
  margin: 30px 0 0 0;
}

.main-body__btn {
  margin: 58px 0 0 0;
}

.main-body__btn a {
  width: 226px;
}

.main-body__advantages {
  margin: 70px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-body__advantages-item {
  max-width: 220px;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin: 0 70px 0 0;
  padding: 30px 0 10px 67px;
  background-repeat: no-repeat;
  background-position: 0 12px;
}

.main-body__advantages-item:nth-child(1) {
  background-image: url(../img/main/ico01.png);
}

.main-body__advantages-item:nth-child(2) {
  background-image: url(../img/main/ico02.png);
}

.main-body__image {
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  position: absolute;
  right: -230px;
  top: -50px;
  width: 919px;
  height: 918px;
}

.main-body__image img {
  width: 919px;
  height: 918px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.main-body__icons {
  position: relative;
}

.main-body__icons-ico {
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  position: absolute;
}

.main-body__icons-ico:nth-child(1) {
  top: -500px;
  left: 500px;
}

.main-body__icons-ico:nth-child(2) {
  top: -340px;
  left: 460px;
}

.main-body__icons-ico:nth-child(3) {
  top: -200px;
  left: 280px;
}

.cakes {
  margin: 150px 0 0 0;
}

.cakes__title {
  margin: 0 0 63px 0;
}

.cakes-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cakes-body.rev {
  margin: 45px 0 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cakes-clmn {
  margin: 0 10px;
}

.cakes-clmn:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 696px;
          flex: 0 1 696px;
}

.cakes-clmn:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 484px;
          flex: 0 1 484px;
}

.cakes-clmn__bigitem {
  width: 696px;
  height: 653px;
  position: relative;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.cakes-clmn__bigitem:hover {
  -webkit-box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.12);
          box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.12);
}

.cakes-clmn__smallitem {
  width: 484px;
  height: 305px;
  position: relative;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.cakes-clmn__smallitem:hover {
  -webkit-box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.12);
          box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.12);
}

.cakes-clmn__smallitem:nth-child(2) {
  margin: 42px 0 0 0;
}

.cakes-clmn__item-name {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 47px;
}

.cakes-clmn__item-subname {
  position: absolute;
  z-index: 1;
  top: 69px;
  left: 47px;
}

.cakes-clmn__item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cakes-clmn__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all .6s ease .1s;
  -o-transition: all .6s ease .1s;
  transition: all .6s ease .1s;
}

.cakes-clmn__item-image:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.cakes-clmn__item-link {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cakes-clmn__item-link a {
  display: block;
  width: 100%;
  height: 100%;
}

.cakes-clmn__item-link a:before,
.cakes-clmn__item-link a::after {
  position: absolute;
  bottom: 40px;
  right: 70px;
}

.cakes-clmn__item-link a:before {
  content: 'Смотреть';
  color: #2d2829;
  font-family: Circe;
  font-size: 20px;
  right: 110px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  -webkit-transition: all .3s ease .1s;
  -o-transition: all .3s ease .1s;
  transition: all .3s ease .1s;
}

.cakes-clmn__item-link a:after {
  content: url(../img/icons/arrow.png);
}

.cakes-clmn__item-link a:hover:before {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.order__title {
  text-align: center;
  margin: 105px 0 14px 0;
}

.order__subtitle {
  text-align: center;
}

.order-row {
  background-color: #ffffff;
  height: 571px;
  position: relative;
  margin: 35px 0 0 0;
  min-width: 0;
  -webkit-box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
          box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
}

.order-row__bgico {
  position: absolute;
  top: 200px;
  left: 17px;
}

.order-row:nth-child(3) {
  height: 752px;
}

.order-row:nth-child(3):before,
.order-row:nth-child(3):after {
  content: url(../img/order/hanging.png);
  position: absolute;
  bottom: -148px;
}

.order-row:nth-child(3):before {
  left: -64px;
}

.order-row:nth-child(3):after {
  right: -64px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.order-row__number {
  color: #f50049;
  font-family: "Playfair Display";
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 0.04px;
  position: absolute;
  top: 74px;
  left: 83px;
}

.order-row__subnumber {
  margin: 10px 0 0 0;
  color: #f50049;
  font-family: "Playfair Display";
  font-size: 27px;
  font-weight: 700;
  line-height: 29.96px;
  letter-spacing: 0.05px;
  max-width: 144px;
  position: absolute;
  top: 122px;
  left: 83px;
}

.order-row .slider-filling {
  position: relative;
  top: 88px;
  left: 296px;
  min-width: 0;
  width: 740px;
}

.order-row .slider-filling .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 0;
  background-color: transparent;
  padding: 5px;
}

.order-row .slider-filling .slick-arrow:before,
.order-row .slider-filling .slick-arrow::after {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #f17d91;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.order-row .slider-filling .slick-arrow:before {
  -webkit-transform: rotate(45deg) translate(0, -5px);
      -ms-transform: rotate(45deg) translate(0, -5px);
          transform: rotate(45deg) translate(0, -5px);
}

.order-row .slider-filling .slick-arrow::after {
  -webkit-transform: rotate(-45deg) translate(0, 5px);
      -ms-transform: rotate(-45deg) translate(0, 5px);
          transform: rotate(-45deg) translate(0, 5px);
}

.order-row .slider-filling .slick-arrow:hover:before,
.order-row .slider-filling .slick-arrow:hover::after {
  background-color: #e21538;
}

.order-row .slider-filling .slick-arrow.slick-prev {
  left: -60px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.order-row .slider-filling .slick-arrow.slick-next {
  right: -40px;
}

.order-row .slider-filling__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

.order-row .slider-filling__item-ico {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 343px;
          flex: 0 0 343px;
  width: 343px;
  height: 390px;
  background-color: #fbebea;
  overflow: hidden;
  margin: 0 42px 0 0;
}

.order-row .slider-filling__item-ico img {
  width: 343px;
  height: 390px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.order-row .slider-filling__item-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.order-row .slider-filling__item-title {
  font-size: 20px;
  text-transform: none;
  margin: 0 0 10px 0;
}

.order-row .slider-filling__item-descr {
  font-size: 18px;
}

.order-row .slider-filling__item-price {
  margin: 16px 0 0 0;
  color: #2f2f2f;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
}

.order-row .slider-filling__item-btn {
  margin: 40px 0 0 0;
}

.order-row .slider-filling__item-btn a {
  width: 180px;
}

.order-row .slider-type {
  position: absolute;
  top: 84px;
  left: 330px;
  width: 720px;
  margin: 0 20px;
}

.order-row .slider-type .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 0;
  background-color: transparent;
  padding: 5px;
}

.order-row .slider-type .slick-arrow:before,
.order-row .slider-type .slick-arrow::after {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #f17d91;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.order-row .slider-type .slick-arrow:before {
  -webkit-transform: rotate(45deg) translate(0, -5px);
      -ms-transform: rotate(45deg) translate(0, -5px);
          transform: rotate(45deg) translate(0, -5px);
}

.order-row .slider-type .slick-arrow::after {
  -webkit-transform: rotate(-45deg) translate(0, 5px);
      -ms-transform: rotate(-45deg) translate(0, 5px);
          transform: rotate(-45deg) translate(0, 5px);
}

.order-row .slider-type .slick-arrow:hover:before,
.order-row .slider-type .slick-arrow:hover::after {
  background-color: #e21538;
}

.order-row .slider-type .slick-arrow.slick-prev {
  left: -70px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.order-row .slider-type .slick-arrow.slick-next {
  right: -70px;
}

.order-row .slider-type__item {
  position: relative;
  width: 321px;
  height: 431px;
  -webkit-box-shadow: 0 7px 13px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 7px 13px 1px rgba(0, 0, 0, 0.05);
  margin: 20px 20px;
}

.order-row .slider-type__item-name {
  position: absolute;
  z-index: 1;
  bottom: 57px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #2f2f2f;
  font-family: Circe;
  font-size: 20px;
}

.order-row .slider-type__item-price {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #2f2f2f;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
}

.order-row .slider-type__item .choice-item__button {
  margin: 36px 0 0 0;
}

.order-row .counter {
  position: absolute;
  right: 129px;
  bottom: 89px;
  opacity: 0.7;
  color: #2f2f2f;
  font-family: Circe;
  font-size: 18px;
}

.order-row .counter02 {
  position: absolute;
  right: 70px;
  bottom: 210px;
  opacity: 0.7;
  color: #2f2f2f;
  font-family: Circe;
  font-size: 18px;
}

.order-row .bottom {
  position: absolute;
  bottom: 52px;
  left: 73px;
}

.order-row .bottom__title {
  font-size: 27px;
}

.order-row .bottom-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 1056px;
}

.order-row .bottom-body__item-title {
  margin: 20px 0 0 0;
  color: #f50049;
  font-family: "Intro Script R - H 2 Base";
  font-size: 27px;
}

.order-row .bottom-body__item-type {
  color: #2d2829;
  font-family: Circe;
  font-size: 18px;
  margin: 28px 0 18px 0;
  position: relative;
}

.order-row .bottom-body__item-type:before {
  content: '';
  position: absolute;
  bottom: -12px;
  display: block;
  height: 2px;
  background-color: #c1b0af;
}

.order-row .bottom-body__item:nth-child(1) .bottom-body__item-type:before {
  width: 230px;
}

.order-row .bottom-body__item:nth-child(2) .bottom-body__item-type:before {
  width: 130px;
}

.order-row .bottom-body__item:nth-child(3) .bottom-body__item-type:before {
  width: 230px;
}

.order-row .bottom-body__btn a {
  width: 226px;
}

.order .choice {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order .choice-item {
  cursor: pointer;
  margin: 0 26px 0;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.order .choice-item .radio {
  display: none;
}

.order .choice-item .radio:checked + .choice-item__ico::before {
  opacity: 1;
}

.order .choice-item__ico {
  display: block;
  position: relative;
}

.order .choice-item__ico-value {
  color: #2f2f2f;
  font-family: Circe;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.order .choice-item__ico:before {
  content: '';
  opacity: 0;
  position: absolute;
  top: -10px;
  left: -10px;
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 16px 1px rgba(103, 12, 40, 0.14);
          box-shadow: 0 6px 16px 1px rgba(103, 12, 40, 0.14);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.order .choice-item:nth-child(2) .choice-item__ico:before {
  width: 174px;
  height: 174px;
}

.order .choice-item:nth-child(3) .choice-item__ico:before {
  width: 193px;
  height: 194px;
}

.order .choice-item:nth-child(4) .choice-item__ico:before {
  width: 220px;
  height: 222px;
}

.order .choice-item__size {
  margin: 30px 0 0 0;
  opacity: 0.8;
  color: #2f2f2f;
  font-family: Circe;
  font-size: 18px;
  line-height: 30px;
}

.order .choice-item__person {
  opacity: 0.8;
  color: #2f2f2f;
  font-family: Circe;
  font-size: 18px;
  line-height: 30px;
}

.order .choice-item__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.order .choice-item__button a {
  width: 180px;
}

.review {
  margin: 100px 0 200px 0;
}

.review-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-body__title {
  font-size: 40px;
  text-align: center;
  margin: 0 0 64px 0;
}

.review .slider-review {
  width: 640px;
  cursor: pointer;
  position: relative;
}

.review .slider-review__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review .slider-review__item-ico {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 209px;
          flex: 0 0 209px;
  width: 209px;
  height: 209px;
  overflow: hidden;
  border-radius: 50%;
}

.review .slider-review__item-ico img {
  width: 209px;
  height: 209px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.review .slider-review__item-content {
  margin: 0 0 0 45px;
}

.review .slider-review__item-name {
  color: #2d2829;
  font-family: Circe-bold;
  font-size: 27px;
}

.review .slider-review__item-subname {
  color: #2d2829;
  font-family: Circe;
  font-size: 20px;
  margin: 6px 0 22px 0;
}

.review .slider-review__item-msg {
  color: #2d2829;
  font-family: Circe;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.56px;
  text-align: left;
}

.review .slider-review .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 0;
  background-color: transparent;
  padding: 5px;
}

.review .slider-review .slick-arrow:before,
.review .slider-review .slick-arrow::after {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #f17d91;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.review .slider-review .slick-arrow:before {
  -webkit-transform: rotate(45deg) translate(0, -5px);
      -ms-transform: rotate(45deg) translate(0, -5px);
          transform: rotate(45deg) translate(0, -5px);
}

.review .slider-review .slick-arrow::after {
  -webkit-transform: rotate(-45deg) translate(0, 5px);
      -ms-transform: rotate(-45deg) translate(0, 5px);
          transform: rotate(-45deg) translate(0, 5px);
}

.review .slider-review .slick-arrow:hover:before,
.review .slider-review .slick-arrow:hover::after {
  background-color: #e21538;
}

.review .slider-review .slick-arrow.slick-prev {
  left: -100px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.review .slider-review .slick-arrow.slick-next {
  right: -100px;
}

.review .counter03 {
  position: absolute;
  right: 240px;
  bottom: -20px;
  opacity: 0.7;
  color: #f50049;
  font-family: Circe;
  font-size: 18px;
}

.aboutus {
  margin: 0 0 200px 0;
}

.aboutus-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutus-clmn__title {
  font-size: 40px;
  margin: 0 0 30px 0;
}

.aboutus-clmn__subtitle {
  font-size: 35px;
}

.aboutus-clmn__p {
  margin: 10px 0 10px 0;
}

.aboutus-clmn__p-title {
  color: #2d2829;
  font-family: Circe-bold;
  font-size: 20px;
  text-align: left;
  margin: 0 0 8px 0;
}

.aboutus-clmn__p-descr {
  color: #2d2829;
  font-family: Circe;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 20px 0;
  max-width: 560px;
}

.aboutus-clmn__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutus-clmn__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 18px 0 0;
}

.aboutus-clmn__social a img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.aboutus-clmn__imgae {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 509px;
          flex: 0 0 509px;
  width: 509px;
  height: 510px;
  overflow: hidden;
  border-radius: 50%;
}

.aboutus-clmn__imgae img {
  width: 509px;
  height: 510px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.quote {
  margin: 0 0 120px 0;
}

.quote-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote-body__text {
  color: #2d2829;
  font-family: "Playfair Display-italic";
  font-size: 25px;
  line-height: 37.82px;
  letter-spacing: 0.22px;
  max-width: 640px;
  text-align: center;
  position: relative;
}

.quote-body__text:before {
  content: "’’";
  position: absolute;
  top: -84px;
  left: calc(50% - 30px);
  display: block;
  color: #fffefe;
  font-family: "Playfair Display";
  font-size: 140px;
}

.quote-body__sign {
  width: 149px;
  height: 73px;
  margin: 50px 0 0 0;
}

.quote-body__sign img {
  width: 149px;
  height: 73px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.advantages-body {
  max-width: 768px;
  margin: 0 auto;
}

.advantages-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-row__title {
  text-align: center;
  margin: 0 0 30px 0;
}

.advantages-row__subtitle {
  text-align: center;
}

.advantages-row__image {
  position: absolute;
  left: -20px;
  margin: -20px 0 0 0;
}

.advantages-row__item {
  margin: 0 0 0 320px;
}

.advantages-row__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 80px;
  position: relative;
}

.advantages-row__p-ico {
  position: absolute;
  left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 61px;
          flex: 0 0 61px;
  width: 61px;
  height: 61px;
}

.advantages-row__p-ico img {
  width: 61px;
  height: 61px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.advantages-row__p-ittle {
  color: #000000;
  font-family: Circe-bold;
  font-size: 20px;
  margin: 0 0 8px 0;
}

.advantages-row__p-descr {
  max-width: 380px;
  color: #000000;
  font-family: Circe;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  margin: 0 0 30px 0;
}

.advantages-row__bg-01 {
  position: absolute;
  left: 0;
  margin: -280px 0 0 0;
}

.advantages-row__bg-02 {
  position: absolute;
  left: 100px;
  margin: -400px 0 0 0;
}

.advantages-row__bg-03 {
  position: absolute;
  left: 300px;
  margin: -340px 0 0 0;
}

.advantages-row__bg-04 {
  position: absolute;
  left: 390px;
  margin: 190px 0 0 0;
}

.advantages-row__text {
  margin: 0 560px 0 0;
}

.advantages-row__title {
  font-size: 40px;
}

.advantages-row__subtitle {
  font-size: 35px;
}

.advantages-row__descr {
  color: #000000;
  font-family: Circe-bold;
  font-size: 20px;
  line-height: 24px;
  max-width: 450px;
}

.advantages-row__image02 {
  position: relative;
  top: -360px;
}

.advantages-row__image02-img {
  position: absolute;
  z-index: 1;
  right: -140px;
}

.advantages-row__image02-under {
  position: absolute;
  right: -160px;
  top: -28px;
}

.advantages-row__image02-stuff {
  position: absolute;
  right: -240px;
  top: -100px;
}

.howorder {
  height: 703px;
  background-color: #e0323d;
  background-image: url(../img/howorder/bg.png);
  background-repeat: no-repeat;
}

.howorder-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 128px;
  right: 65px;
}

.howorder-text__title {
  color: #ffffff;
  margin: 0 0 44px 0;
}

.howorder-text__p {
  position: relative;
  margin: 0 0 36px 0;
  padding: 0 0 0 40px;
}

.howorder-text__p:before {
  content: '1';
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 64px;
  position: absolute;
  top: -20px;
  left: 0;
}

.howorder-text__p:nth-child(3):before {
  content: '2';
}

.howorder-text__p:nth-child(4):before {
  content: '3';
}

.howorder-text__p-title {
  color: #ffffff;
  font-family: Circe-bold;
  font-size: 21px;
  letter-spacing: 0.21px;
  margin: 0 0 8px 0;
}

.howorder-text__p-descr {
  color: #ffffff;
  font-family: Circe;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  max-width: 440px;
}

.contact {
  padding: 80px 0 300px 0;
}

.contact-body {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-body__title {
  font-size: 40px;
}

.contact-body__subtitle {
  font-size: 35px;
  margin: 36px 0 16px;
}

.contact-clmn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-clmn:nth-child(1) {
  max-width: 550px;
}

.contact-clmn:nth-child(2) {
  padding: 0 0 0 50px;
}

.contact-form__title {
  color: #000000;
  font-family: Circe;
  font-size: 20px;
  margin: 0 0 40px 0;
}

.contact-form__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form__form form input {
  background-color: #fbebea;
  border-bottom: 2px solid #c9bcbb;
  padding: 4px 0 6px;
  margin: 0 0 30px 0;
}

.contact-form__form form input::-webkit-input-placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__form form input::-moz-placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__form form input:-ms-input-placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__form form input::-ms-input-placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__form form input::placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__form form textarea {
  background-color: #fbebea;
  resize: vertical;
  border-bottom: 2px solid #c9bcbb;
  margin: 0 0 30px 0;
}

.contact-form__form form textarea::-webkit-input-placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__form form textarea::-moz-placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__form form textarea:-ms-input-placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__form form textarea::-ms-input-placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__form form textarea::placeholder {
  opacity: 0.2;
  color: #000000;
  font-family: Circe;
  font-size: 14px;
  line-height: 24px;
}

.contact-form__btn {
  margin: 60px 0 0 0;
}

.contact-form__btn a {
  width: 180px;
}

.contact-tel__title {
  color: #000000;
  font-family: Circe;
  font-size: 20px;
  line-height: 24px;
}

.contact-tel__item a {
  color: #000000;
  font-family: Circe;
  font-size: 20px;
  line-height: 24px;
}

.contact-tel__item a:hover {
  text-decoration: underline;
}

.contact-mail {
  margin: 30px 0;
}

.contact-mail__text {
  color: #000000;
  font-family: Circe;
  font-size: 20px;
  line-height: 24px;
}

.contact-mail__text a {
  color: #000000;
  font-family: Circe;
  font-size: 20px;
  line-height: 24px;
}

.contact-social__title {
  margin: 0 0 20px 0;
  color: #000000;
  font-family: Circe;
  font-size: 20px;
  line-height: 24px;
}

.contact-social a {
  display: inline-block;
  width: 63px;
  height: 63px;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.contact-social a img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.contact__image {
  position: absolute;
  right: -100px;
  bottom: -300px;
  width: 954px;
  height: 636px;
}

.contact__image img {
  width: 954px;
  height: 636px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 768px) {
  .order .choice-item__button {
    display: none;
  }
}

@media (min-width: 1366px) {
  .order-row:nth-child(3):before {
    left: -332px;
  }

  .order-row:nth-child(3):after {
    right: -332px;
  }
}

@media (max-width: 1219px) {
  .main__burger {
    display: block;
    position: fixed;
    left: 120px;
    top: 22px;
    z-index: 51;
    width: 30px;
    height: 20px;
  }

  .main__burger::before,
  .main__burger::after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .main__burger::before {
    top: 0;
  }

  .main__burger::after {
    bottom: 0;
  }

  .main__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    background-color: black;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .main__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .main__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .main__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
  }

  .header-body__menu nav {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }

  .header-body__menu.active nav {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    visibility: visible;
    height: 240px;
  }

  .header-body__menu.active nav a {
    visibility: visible;
  }

  .header-body__menu nav {
    position: fixed;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: hidden;
    top: 60px;
    left: 0;
    width: 320px;
    height: 0;
    overflow: hidden;
    background-color: #e7e7e7;
  }

  .header-body__menu nav a {
    display: block;
    line-height: 40px;
    height: 40px;
    visibility: hidden;
    text-align: center;
    width: 100%;
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .header-body__menu nav a:last-child {
    border-bottom: none;
  }

  .header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 60px;
    background-color: #ffffff;
  }

  .footer .footer-body__menu nav a {
    font-size: 12px;
  }

  .footer .footer-body__menu nav {
    width: 580px;
  }

  .footer .header-body__logo {
    font-size: 18px;
  }

  .main-body__image {
    width: 549px;
    height: 548px;
  }

  .main-body__image img {
    width: 549px;
    height: 548px;
  }

  .main-body__icons-ico {
    width: 72px;
    height: 71px;
  }

  .main-body__icons-ico img {
    width: 72px;
    height: 71px;
  }

  .main-body__icons-ico:nth-child(1) {
    top: -520px;
    left: auto;
    right: 270px;
  }

  .main-body__icons-ico:nth-child(2) {
    top: -290px;
    left: auto;
    right: 330px;
  }

  .main-body__icons-ico:nth-child(3) {
    top: -150px;
    left: auto;
    right: 310px;
  }

  .main-body {
    margin: 130px 0 0 0;
  }

  .cakes__title {
    font-size: 28px;
  }

  .cakes-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .cakes-clmn:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .cakes-clmn:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .cakes-clmn__bigitem {
    width: 419px;
    height: 388px;
  }

  .cakes-clmn__smallitem:nth-child(2) {
    margin: 20px 0 0 0;
  }

  .cakes-clmn__smallitem {
    width: 288px;
    height: 184px;
  }

  .order__title {
    font-size: 28px;
  }

  .order__subtitle {
    font-size: 26px;
  }

  .order-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order-row__bgico {
    width: 120px;
    height: 157px;
    top: 110px;
  }

  .order-row__bgico img {
    width: 120px;
    height: 157px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .order-row:nth-child(3):before,
  .order-row:nth-child(3):after {
    display: none;
  }

  .order-row:nth-child(3) {
    width: 728px;
    height: 470px;
  }

  .order-row__number {
    font-size: 36px;
    top: 30px;
    left: 40px;
  }

  .order-row__subnumber {
    font-size: 18px;
    margin: -10px 0 0 0;
    line-height: 20px;
    top: 78px;
    left: 40px;
  }

  .order-row .slider-filling__item-ico {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 210px;
            flex: 0 0 210px;
    width: 210px;
    height: 239px;
  }

  .order-row .slider-filling__item-ico img {
    width: 210px;
    height: 239px;
  }

  .order-row .slider-filling__item-title {
    font-size: 18px;
    font-family: Circe-bold;
  }

  .order-row .slider-filling__item-descr {
    font-size: 14px;
    max-width: 181px;
  }

  .order-row .slider-filling__item-btn a {
    width: 135px;
    height: 43px;
    line-height: 43px;
  }

  .order-row .slider-filling {
    top: 60px;
    left: 220px;
    width: 440px;
  }

  .order-row .slider-type .slick-arrow.slick-prev {
    left: -25px;
  }

  .order-row .slider-type .slick-arrow.slick-next {
    right: -25px;
  }

  .order-row .slider-type__item {
    width: 196px;
    height: 264px;
  }

  .order-row .slider-type__item-ico {
    width: 196px;
    height: 264px;
  }

  .order-row .slider-type__item-ico img {
    width: 196px;
    height: 264px;
  }

  .order-row .slider-type__item-name {
    font-size: 14px;
    bottom: 47px;
    font-family: Circe-bold;
  }

  .order-row .slider-type__item-price {
    font-size: 14px;
  }

  .order-row .slider-type__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 196px;
            flex: 0 0 196px;
    width: 196px;
    height: 264px;
  }

  .order-row .slider-type {
    width: 472px;
    top: 16px;
    left: 180px;
  }

  .order-row .counter {
    font-size: 11px;
    right: 50px;
    bottom: 34px;
  }

  .order-row .counter02 {
    right: 30px;
    bottom: 160px;
    font-size: 12px;
  }

  .order-row .bottom {
    left: 40px;
    bottom: 20px;
  }

  .order-row .bottom__title {
    font-size: 18px;
  }

  .order-row .bottom-body {
    width: 660px;
  }

  .order-row .bottom-body__item-title {
    font-size: 18px;
  }

  .order-row .bottom-body__item-type {
    font-size: 12px;
    width: 160px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #dddddd;
    border-radius: 15px;
    margin: 16px 0 12px 0;
  }

  .order-row .bottom-body__item-type:before {
    display: none;
  }

  .order-row .bottom-body__item:nth-child(2) .bottom-body__item-type {
    width: 74px;
  }

  .order-row .bottom-body__btn a {
    width: 160px;
  }

  .order-row {
    width: 728px;
    height: 348px;
  }

  .order .choice-item__ico:before {
    width: 97px;
    height: 97px;
  }

  .order .choice-item__ico {
    width: 77px;
    height: 77px;
  }

  .order .choice-item__ico img {
    width: 77px;
    height: 77px;
  }

  .order .choice-item:nth-child(2) .choice-item__ico {
    width: 107px;
    height: 107px;
  }

  .order .choice-item:nth-child(2) .choice-item__ico img {
    width: 107px;
    height: 107px;
  }

  .order .choice-item:nth-child(2) .choice-item__ico:before {
    width: 129px;
    height: 129px;
  }

  .order .choice-item:nth-child(3) .choice-item__ico {
    width: 128px;
    height: 128px;
  }

  .order .choice-item:nth-child(3) .choice-item__ico img {
    width: 128px;
    height: 128px;
  }

  .order .choice-item:nth-child(3) .choice-item__ico:before {
    width: 150px;
    height: 150px;
  }

  .order .choice-item:nth-child(4) .choice-item__ico {
    width: 139px;
    height: 139px;
  }

  .order .choice-item:nth-child(4) .choice-item__ico img {
    width: 139px;
    height: 139px;
  }

  .order .choice-item:nth-child(4) .choice-item__ico:before {
    width: 161px;
    height: 161px;
  }

  .order .choice-item__size {
    font-size: 12px;
    margin: 20px 0 0 0;
  }

  .order .choice-item__person {
    font-size: 12px;
    margin: -10px 0 0 0;
  }

  .review-body__title {
    font-size: 28px;
    margin: 0 0 32px 0;
  }

  .review-body {
    max-width: 768px;
    margin: 0 auto;
  }

  .review .slider-review {
    width: 400px;
  }

  .review .slider-review__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .review .slider-review__item-ico {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 109px;
            flex: 0 0 109px;
    width: 109px;
    height: 109px;
  }

  .review .slider-review__item-ico img {
    width: 109px;
    height: 109px;
  }

  .review .slider-review__item-name {
    font-size: 16px;
  }

  .review .slider-review__item-subname {
    font-size: 14px;
  }

  .review .slider-review__item-msg {
    font-size: 14px;
  }

  .review .counter03 {
    font-size: 12px;
    right: 160px;
    bottom: -10px;
  }

  .aboutus-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .aboutus-clmn__title {
    font-size: 28px;
  }

  .aboutus-clmn__subtitle {
    font-size: 26px;
  }

  .aboutus-clmn__p-title {
    font-size: 15px;
  }

  .aboutus-clmn__p-descr {
    font-size: 14px;
    max-width: 350px;
  }

  .aboutus-clmn__imgae {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 312px;
            flex: 0 0 312px;
    width: 312px;
    height: 312px;
  }

  .aboutus-clmn__imgae img {
    width: 312px;
    height: 312px;
  }

  .quote-body__text {
    font-size: 14px;
    max-width: 370px;
    line-height: 20.8px;
  }

  .quote-body__sign {
    width: 82px;
    height: 40px;
  }

  .quote-body__sign img {
    width: 82px;
    height: 40px;
  }

  .advantages-row {
    height: 400px;
    width: 768px;
    max-width: 768px;
    margin: 0 auto;
    position: relative;
  }

  .advantages-row {
    height: 400px;
    width: 100%;
    max-width: 768px;
  }

  .advantages-row__image {
    width: 272px;
    height: 288px;
  }

  .advantages-row__image img {
    width: 272px;
    height: 288px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .advantages-row__bg-01 {
    display: none;
  }

  .advantages-row__bg-02 {
    display: none;
  }

  .advantages-row__bg-03 {
    display: none;
  }

  .advantages-row__bg-04 {
    display: none;
  }

  .advantages-row__text {
    margin: 0 400px 0 0;
  }

  .advantages-row__title {
    font-size: 28px;
    text-align: left;
  }

  .advantages-row__subtitle {
    font-size: 26px;
    text-align: left;
  }

  .advantages-row__descr {
    font-size: 14px;
    text-align: left;
  }

  .advantages-row__image02 {
    top: -220px;
  }

  .advantages-row__image02-img {
    right: 20px;
    width: 324px;
    height: 317px;
  }

  .advantages-row__image02-img img {
    width: 324px;
    height: 317px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .advantages-row__image02-under {
    width: 365px;
    height: 365px;
    top: -22px;
    right: 4px;
  }

  .advantages-row__image02-under img {
    width: 365px;
    height: 365px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .advantages-row__image02-stuff {
    display: none;
  }

  .howorder {
    height: 420px;
    background-size: cover;
    background-position: -240px 0;
  }

  .howorder-body {
    top: 25px;
    right: 45px;
  }

  .howorder-text__title {
    font-size: 28px;
  }

  .howorder-text__p-title {
    font-size: 15px;
  }

  .howorder-text__p-descr {
    font-size: 14px;
    max-width: 330px;
  }

  .contact {
    padding: 80px 0 120px 0;
  }

  .contact-body__title {
    font-size: 28px;
  }

  .contact-body__subtitle {
    font-size: 22px;
  }

  .contact-form__title {
    font-size: 14px;
  }

  .contact-form__form form input {
    border-bottom: none;
    background-color: #ffffff;
    padding: 19px 10px;
  }

  .contact-form__form form textarea {
    border-bottom: none;
    background-color: #ffffff;
    padding: 19px 10px;
  }

  .contact__image {
    width: 602px;
    height: 401px;
    bottom: -100px;
  }

  .contact__image img {
    width: 602px;
    height: 401px;
  }
}

@media (max-width: 767px) {
  .main__burger {
    left: auto;
    right: 20px;
  }

  .header-body__menu nav {
    width: 100%;
  }

  .header-body__menu-tel {
    display: none;
  }

  .footer {
    height: 340px;
  }

  .footer-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer .footer-body__menu nav a {
    margin: 6px 0;
  }

  .footer .footer-body__menu nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 280px;
  }

  .main-body__title {
    font-size: 40px;
    max-width: 200px;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto 0 auto;
  }

  .main-body__subtitle {
    font-size: 22px;
    text-align: center;
    margin: 16px 0 0 0;
  }

  .main-body__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .main-body__advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 14px auto 0 auto;
    max-width: 300px;
  }

  .main-body__advantages-item {
    margin: 0px 0 0 0;
    max-width: 240px;
    background-size: 40px;
    background-position: 8px 14px;
    padding: 20px 0 20px 56px;
  }

  .main-body__image {
    width: 368px;
    height: 367px;
    top: -320px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    right: auto;
  }

  .main-body__image img {
    width: 368px;
    height: 367px;
  }

  .main-body__icons-ico {
    display: none;
  }

  .main-body {
    margin: 200px 0 0 0;
    padding: 0 0 80px 0;
  }

  .cakes {
    margin: 50px 0 0 0;
  }

  .cakes__title {
    font-size: 24px;
    text-align: center;
    margin: 0 0 40px 0;
  }

  .cakes-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cakes-body.rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 0 0 0;
  }

  .cakes-clmn {
    margin: 0;
  }

  .cakes-clmn__bigitem {
    width: 100%;
    height: 120px;
    margin: 10px 0 0 0;
  }

  .cakes-clmn__smallitem:nth-child(2) {
    margin: 0;
  }

  .cakes-clmn__smallitem {
    width: 100%;
    height: 120px;
    margin: 10px 0 10px 0;
  }

  .order-body {
    display: block;
  }

  .order-row__bgico {
    display: none;
  }

  .order-row:nth-child(3) {
    width: 280px;
    height: 800px;
  }

  .order-row__number {
    top: 18px;
    left: 20px;
  }

  .order-row__subnumber {
    top: 43px;
    left: 70px;
    max-width: 100%;
  }

  .order-row .slider-filling__item-ico {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 240px;
    height: 110px;
  }

  .order-row .slider-filling__item-ico img {
    width: 240px;
    height: 110px;
  }

  .order-row .slider-filling__item-title {
    margin: 20px 0 0 0;
    max-width: 280px;
  }

  .order-row .slider-filling__item-descr {
    margin: 12px 0 0 0;
    max-width: 280px;
  }

  .order-row .slider-filling__item-price {
    font-size: 20px;
    width: 140px;
    margin: 16px auto 0 auto;
  }

  .order-row .slider-filling__item-btn {
    margin: 60px auto 0 auto;
    width: 180px;
  }

  .order-row .slider-filling__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .order-row .slider-filling {
    left: 20px;
    top: 60px;
    width: 100%;
    height: 344px;
  }

  .order-row .slider-type__item {
    margin: 20px 20px 90px 20px;
  }

  .order-row .slider-type {
    width: 234px;
    top: 64px;
    left: 0px;
  }

  .order-row .counter {
    right: 28px;
    bottom: 267px;
    z-index: 1;
  }

  .order-row .counter02 {
    right: 60px;
    bottom: 460px;
    z-index: 1;
  }

  .order-row .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
  }

  .order-row .bottom-body {
    width: 280px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order-row .bottom-body__item-title {
    text-align: center;
    margin: 10px 0 0 0;
  }

  .order-row .bottom-body__item-type {
    margin: 10px 0 6px 0;
    width: 243px;
  }

  .order-row .bottom-body__item:nth-child(2) .bottom-body__item-type {
    width: 243px;
  }

  .order-row .bottom-body__btn a {
    width: 226px;
    margin: 20px 0 0 0;
  }

  .order-row {
    width: 280px;
    height: 430px;
    margin: 35px auto 0 auto;
  }

  .order .choice-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: 320px;
  }

  .order .choice-item__ico {
    width: 110px;
    height: 110px;
  }

  .order .choice-item__ico img {
    width: 110px;
    height: 110px;
  }

  .order .choice-item:nth-child(2) .choice-item__ico {
    width: 110px;
    height: 110px;
  }

  .order .choice-item:nth-child(2) .choice-item__ico img {
    width: 110px;
    height: 110px;
  }

  .order .choice-item:nth-child(3) .choice-item__ico {
    width: 110px;
    height: 110px;
  }

  .order .choice-item:nth-child(3) .choice-item__ico img {
    width: 110px;
    height: 110px;
  }

  .order .choice-item:nth-child(4) .choice-item__ico {
    width: 110px;
    height: 110px;
  }

  .order .choice-item:nth-child(4) .choice-item__ico img {
    width: 110px;
    height: 110px;
  }

  .order .choice-item__size {
    margin: 36px 0 0 0;
  }

  .order .choice-item__person {
    margin: -10px 0 22px 0;
  }

  .review {
    margin: 100px 0 0 0px 0;
  }

  .review .slider-review {
    width: 280px;
  }

  .review .slider-review__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 280px;
  }

  .review .slider-review__item-content {
    margin: 0;
  }

  .review .slider-review__item-name {
    text-align: center;
  }

  .review .slider-review__item-subname {
    text-align: center;
  }

  .review .counter03 {
    right: 20px;
    bottom: 0;
  }

  .aboutus-clmn__social {
    display: none;
  }

  .aboutus-clmn__imgae {
    display: none;
  }

  .advantages-row__title {
    margin: 0 0 12px 0;
  }

  .advantages-row__image {
    display: none;
  }

  .advantages-row__item {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    width: 100%;
    background-color: #fff;
  }

  .advantages-row__p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    max-width: 260px;
    margin: 0 auto;
  }

  .advantages-row__p-ico {
    position: relative;
  }

  .advantages-row__p-ittle {
    text-align: center;
  }

  .advantages-row__p-descr {
    text-align: center;
  }

  .advantages-row__text {
    margin: 0;
  }

  .advantages-row__title {
    font-size: 24px;
    text-align: center;
  }

  .advantages-row__subtitle {
    font-size: 22px;
    text-align: center;
  }

  .advantages-row__image02 {
    position: absolute;
    z-index: 0;
    top: auto;
    bottom: -200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .advantages-row__image02-img {
    position: relative;
    right: auto;
  }

  .advantages-row__image02-under {
    display: none;
  }

  .howorder {
    position: relative;
    z-index: 1;
  }

  .howorder {
    height: 482px;
    background-size: 320px;
    background-position: bottom;
  }

  .howorder-body {
    position: relative;
    left: 10px;
    margin: 0 auto;
    width: 280px;
  }

  .howorder-text__title {
    font-size: 24px;
    text-align: center;
    margin: 0 0 24px 0;
  }

  .howorder-text__p {
    margin: 0 0 24px 0;
  }

  .contact-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-clmn:nth-child(2) {
    padding: 0;
    margin: 20px 0 0 0;
  }

  .contact-form__btn {
    margin: 30px 0 0 0;
  }

  .contact__image {
    display: none;
  }
}

.webp .main-body__advantages-item:nth-child(1){ background-image: url(../img/main/ico01.webp); }

.webp .main-body__advantages-item:nth-child(2){ background-image: url(../img/main/ico02.webp); }

.webp .howorder{ background-image: url(../img/howorder/bg.webp); }